h1{
    font-size: 50px;
    text-align: center;
    color: blue;
}


span{
    font-size: 20px;
    color: red;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{

  background-color: bisque;

}