h1{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 149, 0);
}


span{
    font-size: 20px;
    color: rgb(39, 169, 130);
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{

  background-color: rgb(235, 255, 147);

}